.TempBugger{
    height: 150px;
    background-color: rgb(2, 121, 81);
    margin-bottom: 5%;
}


.LoginList{
    display: flex;
    flex-direction: column;
    
}

.LoginListElem{
    background-color: ;
    list-style-type: none;
}